h1 {
    font-family: 'Roboto Mono', monospace;
}

form {
    font-family: 'Roboto', sans-serif;
}

#container {
    border: 1px dashed black;
    text-align: center;
}

#equalSign {
  width: 5.5em;
}
.btn-default {
    background-color: lightgray;
    border-radius: 0;
    border: 1px solid black;
}

.btn-warning {
    border-radius: 0;
    border: 1px solid black;
}
